body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('photo-1674421338545-d16368d8c042.avif') no-repeat center center fixed;
    background-size: cover;
    color: #04b1f1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
}

header img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

header nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

header nav a {
    color: #0babf0;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif;
}

section {
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    border-radius: 10px;
    max-width: 800px;
    text-align: center;
}

h1, h2 {
    font-family: 'Orbitron', sans-serif;
}

p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    bottom: 0;
}

.like-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.like-button:hover {
    background-color: #000;
    color: #fff;
}